## Membuat Class Python
Statement class digunakan untuk membuat definisi kelas baru. Nama kelas segera mengikuti kelas kata kunci diikuti oleh titik dua sebagai berikut.

```python
class ClassName: 'Optional class documentation string' class_suite
```

Dibawah ini adalah contoh cara membuat class dan penggunaanya :

In [1]:
class Employee:
    'Common base class for all employees'
    empCount = 0

    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1

    def displayCount(self):
        print("Total Employee %d" % Employee.empCount)

    def displayEmployee(self):
        print("Name : ", self.name, ", Salary: ", self.salary)

## Membuat Instance Objects
Untuk membuat instances kelas, kita memanggil class menggunakan nama class dan meneruskan argumen apa pun yang metode `init` terima.

In [2]:
# Create first object di Employee class
emp1 = Employee("Zara", 2000)

# Create second object di Employee class
emp2 = Employee("Manni", 5000)

## Mengakses Atribut
Anda mengakses atribut objek menggunakan dot operator dengan objek. Variabel kelas akan diakses dengan menggunakan nama kelas sebagai berikut :

In [3]:
emp1.displayEmployee()
emp2.displayEmployee()
print ("Total Employee %d" % Employee.empCount)

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 2