## Membuat Class Python

In [8]:
class Employee:
    'Common base class for all employees'
    empCount = 0

    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empCount += 1

    def displayCount(self):
        print("Total Employee %d" % Employee.empCount)

    def displayEmployee(self):
        print("Name : ", self.name, ", Salary: ", self.salary)

## Membuat Instance Objects

In [9]:
# Create first object di Employee class
emp1 = Employee("Zara", 2000)

# Create second object di Employee class
emp2 = Employee("Manni", 5000)

## Mengakses Atribut

In [10]:
print(emp1.name)
print(emp2.name)

Zara
Manni

In [11]:
print(emp1.salary)
print(emp2.salary)

2000
5000

In [12]:
emp1.displayEmployee()
emp2.displayEmployee()
print ("Total Employee %d" % Employee.empCount)

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 2

## Inheritance

In [13]:
#Inheritance
class EmployeeIntern(Employee):
    pass

In [14]:
# Instantiation
intern1 = EmployeeIntern("Harry", 1000)

In [15]:
# Access Data Member
print(intern1.name)
print(intern1.salary)

Harry
1000

In [16]:
# Method 1
intern1.displayEmployee()

Name :  Harry , Salary:  1000

In [17]:
# Method 2
print ("Total Employee %d" % EmployeeIntern.empCount)

Total Employee 3

## Operator Overloading

In [18]:
10 + 20

30

In [19]:
'Indo' + 'nesia'

'Indonesia'

In [20]:
class Angka:
    def __init__(self, angka):
        self.angka = angka

In [21]:
x1 = Angka(10)
x2 = Angka(20)

In [22]:
x1 + x2

TypeError: unsupported operand type(s) for +: 'Angka' and 'Angka'

In [23]:
class Angka:
    def __init__(self, angka):
        self.angka = angka

    def __add__(self, objek):
        return self.angka + objek.angka

In [24]:
x1 = Angka(10)
x2 = Angka(20)

print(x1 + x2)

30