# *Project Based Learning*

Halo `teman kelas`, untuk assessment kali ini teman diharapkan dapat mengimplementasikan pemahaman kalian dari materi-materi yang telah dijelaskan di *course* ini.

## Hello World


Di section ini, gunakanlah fungsi *built-in* python `print` untuk mencetak beberapa kalimat dibawah ini:
```python
"Hello World"
"Belajar di Kelas.work sangat menyenangkan"
```

In [ ]:
print(___)

In [ ]:
___("Belajar di Kelas.work sangat menyenangkan")

## Variabel, Operator Perbandingan dan Aritmatika

Buatlah sebuah `variabel` dengan value `"Hello world"`, lalu print `variabel` tersebut.

In [ ]:
___ = "Hello World"
print(___)

- Buatlah sebuah variabel `namadepan` (isi nama depan teman sebagai value di variabel ini),
- lalu buat variabel `namabelakang` (masukan nama belakang teman sebagai value di variabel ini)
- lalu cetak `namadepan` + `namabelakang` menggunakan printah `print`

In [ ]:
___ = "[nama depan anda]"
___ = " [nama depan anda]"

In [ ]:
# isilah dua variabel kedalam print ini
print(___ + ___)

Pilihlah dua angka (bebas), lalu masukkan ke variabel `angka1` dan `angka2` masing-masing, dengan `angka1` lebih besar dari `angka2`.

Lalu gunakan operator perbandingan untuk mengecek value kedua angka tersebut.

In [ ]:
angka1 = ___
angka2 = ___

In [ ]:
# gunakan operator lebih dari
# jika angka1 dan angka2 sesuai, maka outputnya adalah True

angka1 ___ 2

In [ ]:
# gunakan operator kurang dari
# jika angka1 dan angka2 sesuai, maka outputnya adalah False

angka1 ___ angka2

In [ ]:
# gunakan operator tidak sama dengan
# jika angka1 dan b sesuai, maka outputnya adalah True

angka1 ___ angka2

In [ ]:
# gunakan operator sama dengan
# jika angka1 dan b sesuai, maka outputnya adalah False

angka1 ___ angka2

Lakukan operasi aritmatika dengan kedua variabel `angka1` dan `angka2`

In [ ]:
# penjumlahan
print(angka1 ___ angka2)

In [ ]:
# pengurangan
print(angka1 ___ angka2)

In [ ]:
# perkalian
print(angka1 ___ angka2)

In [ ]:
# pangkat
print(angka1 ___ angka2)

In [ ]:
# sisa bagi
print(angka1 ___ angka2)

## Seleksi Kondisi

Masih dengan menggunakan variabel `angka1` dan `angka2` di atas,
gunakan `statement if-else` untuk print kalimat `"angka1 lebih besar dari angka2"` jika `angka1` besar dari `angka2` dan `"Done"` jika `angka1` kecil dari `angka2`.

In [ ]:
angka1 = ___
angka2 = ___

if angka1 ___ angka2:
    print(___)
___:
    ___("Done")

gunakan `nested-if (if di dalam if)` untuk print variabel `angka` (yang valuenya suatu bilangan) jika `angka` kecil dari `100` dan dan habis dibagi `3`.

In [ ]:
# suatu angka habis dibagi 3 jika angka modulp 3 == 0

angka = ___

___ angka < 3:
    if angka ___ 3 == 0:
        print(angka)

## Struktur Data

Buatlah sebuah list dengan nama `my_list`, lalu isilah `list` itu dengan bilangan ganjil dibawah `20`

In [ ]:
my_list = [___]

tambahkan elemen `21` ke dalam `my_list` dengan menggunakan metode `append`

In [ ]:
my_list.append(___)

Lalu periksa apakah `21` ada dalam `my_list`

In [ ]:
# gunakan operator "in" untuk pengecekan keanggotaan
# jika 21 adalah elemen my_list maka hasil program ini True

21 ___ my_list

Buatlah sebuah `dictionary` `my_dict` yang `keys` nya adalah negara, ibukota, wisata_terkenal.

In [ ]:
my_dict = {"Negara" : ___, "ibukota" : ___, "wisata_terkenal" : ___}

lalu akses Negara yang ada dalam `my_dict`

In [ ]:
my_dict["___"]

akses `"ibukota"`

In [ ]:
my_dict["___"]

akses `"wisata_terkenal"`

In [ ]:
my_dict["___"]

untuk melihat semua *keys* yang ada di `my_dict`, kita bisa menggunakan method `keys`.

In [ ]:
my_dict.keys()

Teman kelas bisa menggunakan method `values` untuk melihat semua `values` di `my_dict`.

In [ ]:
my_dict.___

## Perulangan

Buatlah perulangan *while* untuk mencetak bilangan `1` sampai `10`

In [ ]:
angka = 0 # variabel acuan untuk increment - nilanya bertambah 1 setiap perulangan
while (___ < 11):
    print("angka :" + ___)
    ___ = angka + 1
print("selesai")

Misalkan kita punya list `kota` yang berisi nama-nama kota. Buatlah perulangan `for` yang menghasilkan output setiap nama kota yang ada di list `kota`.

In [ ]:
# misal isi list kota seperti ini
kota = ['jakarta', 'depok', 'bandung', 'jepara']

# perulangan for
___ nama_kota in ___:
    print(___)

## Objek dan Class

Buatlah `class Mahasiswa` yang variabel *instance* nya `nama`, `umur`, `kampus`, dan `jurusan`.

Tambahkan method `"showdetail"` untuk menmpilkan `nama` dan `umur`, dan method `"cek_umur"` untuk cek apakah `umur` lebih dari `18` tahun (termasuk dewasa), jika tidak masuk usia remaja.

In [ ]:
class ___:
    def __init__(self, nama, ___, ___, ___):
        self.nama = nama
        self.umur = ___
        ___       = kampus
        ___       = jurusan

    def showdetail(___):
        print("Nama : ", ___, ", ___: ", self.umur)

    def cek_umur(___):
        if self.umur >= ___:
            print("Dewasa")
        else:
            print("Remaja")

Buatlah objek `mhs_baru` dengan<br>
nama = "[Nama Teman]"<br>
umur = "[Umur Teman]"<br>
begitu juga dengan kampus dan jurusan.

In [ ]:
mhs_baru = Mahasiswa(___ , ___ , ___ , ___)

lalu akses atribut dan method dari objek `mhs_baru`.

In [ ]:
# Akses atribut
mhs_baru.nama            # akses atribut nama
mhs_baru.___             # akses atribut umur
mhs_baru.___             # akses atribut kampus
mhs_baru.___             # akses atribut jurusan

In [ ]:
# akses method
mhs_baru.showdetail()    # akses method showdetail()
mhs_baru.__              # akses method cek_umur()

## Fungsi

Buatlah fungsi `luas_persegi` untuk menghitung luas suatu persegi dengan input `sisi`

In [ ]:
def luas_persegi(___):
    luas = ___ * ___
    return ___

Buatlah fungsi untuk menghitung panjang dari suatu `list`
- Nama fungsi `panjang_list`
- Input nya adalah suatu list

In [ ]:
A = ___ # gantilah value A menjadi suatu list

def ___(___):
    # untuk menghitung panjang suatu list
    # kita menggunakan method len(list)
    length = len(___)
    return length

## Python untuk Data Analysis

Di section ini kita akan melakukan analisis terhadap dataset jenis-jenis mobil dan klasifikasinya

## Import Libraries

Yang pertama kita lakukan adalah import semua library yang dibutuhkan

In [ ]:
import pandas as pd                         #dataframe manipulation
import numpy as np                          #scientific computing
import seaborn as sns                       #visualization
import matplotlib.pyplot as plt             #visualization
%matplotlib inline
sns.set(color_codes=True)

import warnings
warnings.filterwarnings('ignore')

## Importing Dataset

Import dataset dari source url : https://raw.githubusercontent.com/marwanmusa/dataset/main/data.csv

In [ ]:
url = __

# gunakan method read.csv dari pandas  untuk membaca data csv tersebut
df = pd.___(url)

# tampilkan 5 baris pertama menggunakan method head
df.___()

In [ ]:
# tampilkan 5 baris terakhir dari data menggunakan method tail
df.___()

## Data Wrangling

### *Hapus Kolom yang Irrelevant*

Hapuslah kolom kolom-kolom ini dari data
- Engine Fuel Type,
- Market Category,
- Vehicle Style,
- Popularity,
- Number of Doors,
- Vehicle Size

In [ ]:
# pertama, masukkan kolom-kolom tersebut ke dalam list_kolom
list_kolom = ___

# Gunakan method drop dari pandas untuk menghapus kolom
df = df.___(list_kolom, axis=1)

# tampilkan 5 data pertama setelah beberapa kolom di hapus
df.___()

### *Mengubah Nama Kolom*

Ubah nama kolom-kolom berikut ini:

Engine HP -> HP,<br>
Engine Cylinders -> Cylinders,<br>
Transmission Type -> Transmission,<br>
Driven_Wheels -> Drive Mode,<br>
highway MPG -> MPG-H,<br>
city mpg -> MPG-C,<br>
MSRP -> Price<br>

In [ ]:
# gunakan method rename dari pandas untuk mengubah nama kolom
df = df.___(columns={"___": "HP",
                    "___": "Cylinders",
                    "___": "Transmission",
                    "___": "Drive Mode",
                    "highway MPG": "___",
                    "city mpg": "___",
                    "___": "___" })

# tampilkan 5 data pertama setelah beberapa kolom di ubah nama
df.___()

### *Menghapus Kolom Duplikat*

Gunakan method `duplicated` dari pandas untuk menampilkan data duplikat

In [ ]:
df[df.___()]

In [ ]:
# gunakan method count dari pandas untuk menampilkan jumlah baris tiap variabel
df.___()

untuk menghapus data duplikat, gunakan method `drop_duplicates`, dan inisialisasikan dataframe baru setelah drop duplikat ke variabel `df`

In [ ]:
df = df.___()

In [ ]:
# lihat jumlah baris setelah drop duplikat menggunakan method count
df.__()

### *Menghapus Missing Values*

Gunakan method `isnull` untuk mengecek null values atau tidak, lalu gunakan method `sum` untuk menjumlahkan semua hasil method `isnull` bernilai `True`.

In [ ]:
# Cek jumlah missing values tiap variable
print(df.___().___())

Gunakan method `dropna` untuk menghapus missing / null values di data.

In [ ]:
df = df.___()    # Dropping the missing values.

In [ ]:
# lihat jumlah baris setelah drop missing values menggunakan method count
df.__()

Setelah dihapus missing values nya, kita bisa cek lagi apakah masih ada atau tidak dengan menggunakan method `isnull` dan `sum`

In [ ]:
# Cek jumlah missing values tiap variable
print(df.___().___())

### *Mendeteksi Outliers*

Gunakan method `boxplot` dari `seaborn` untuk melihat distribusi data dengan dalam bentuk `boxplot`

In [ ]:
# Boxplot untuk variabel Price
sns.___(x=df['Price'])

In [ ]:
# Boxplot untuk variabel HP
sns.boxplot(x=df['___'])

In [ ]:
# Boxplot untuk variabel Cylinders
sns.___(x=df['___'])

## Exploratory Data Analysis

### *Plot Korelasi antar Feature*

**Histogram**

Gunakan method `nlargest` dengan argumen `40` untuk melihat frekuensi `40` data terbanyak di data.

Set kind ke `bar` untuk bar chart.

atur ukuran grafik ke `10, 5`

In [ ]:
# untuk frequency data, gunakan bar chart
df.Make.value_counts().___(___).plot(kind='___', figsize=(___, ____))
plt.title("Number of cars by make") # judul grafik
plt.ylabel('Number of cars')        # label untuk koordinat y
plt.xlabel('Make');                 # label untuk koordinat x

**Heat Maps**

atur ukuran grafik ke `10, 5`

gunakan method `coor` dari `pandas` untuk melihat korelasi tiap variabel dalam bentuk `dataframe`

gunakan method `heatmap` dari `seaborn` untuk melihat korelasi tiap variabel dalam bentuk `heatmap`

In [ ]:
# untuk analisis korelasi seluruh variabel gunakan heatmaps
plt.figure(figsize=(___, ___))
c = df.___()
sns.___(c, cmap = "BrBG", annot = True)
c

**Scatterplot**

Disini teman kelas akan melihat korelasi antar 2 variabel saja yaitu `HP` dan `Price`

atur ukuran grafik ke `10, 5`

gunakan method `scatter` dari matplotlib untuk menampilkan scatterplot

lalu panggil method `show` untuk memunculkan output plotnya

In [ ]:
# untuk korelasi antara dua variabel gunakan scatterplot
fig, ax = plt.subplots(figsize=(___, ___))
ax.___(df['HP'], df['Price'])
ax.set_xlabel('HP')     # label untuk koordinat x
ax.set_ylabel('Price')  # label untuk koordinat y
plt.show()

## 10. Grouping Data

### *Categorical Data*

In [ ]:
# Select data group categorical only
df.select_dtypes(include=[object])

### *Numerical Data*

In [ ]:
# Select data group numerical only
df.select_dtypes(exclude=[object])

## 11. Descriptive statistics using `describe()`

Gunakan method `describe` dari `pandas` untuk menampilkan `statistik deskriptif` dari data (`count`, `mean`, `min`, `max`, `std` dan lainnya)

In [ ]:
df.____()

### *Data Distribution*

Kita bisa memfilter data apa saja yang bertipe `numerikal` dan sebaliknya.

misalkan disini kita ingin mengambil data `numerikal` saja, caranya:

gunakan method `select_dtypes` dari pandas untuk memilih suatu `type data`

lalu `exclude` data bertipe `object`

kemudian simpan ke variabel `data_num_columns`

In [ ]:
# Numerical columns as a variable
___ = df.___(exclude=['___'])

Selanjutnya setiap `variabel numerikal` di `data_num_columns` akan kita liat distribusinya seperti apa, menggunakan method `displot` dari `seaborn`.

In [ ]:
# Visualizing data distribution with distplot
x = plt.figure(figsize=(___, ___))        # atur size grafik ke 18, 16

for i, j in enumerate(___):               # enumerate i as index and j as data in data_num_columns
    x.add_subplot(3, 2, i+1)
    sns.____(df[j], bins=15)          # panggil method distplot
    x.tight_layout()

plt.tight_layout()